@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Oooh+Baby&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
}

body:hover {
  cursor: default;
}

a {
  text-decoration: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 98px;
  background-image: url("/images/hero-wallpaper.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  font-size: 1.7rem;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

.hero h1 {
  font-family: 'Oooh Baby', cursive;
}

.hero p {
  font-size: 1.2rem;
}

.hero h1, .hero p, .hero a {
  -webkit-animation: textSlide .8s ease-in;
          animation: textSlide .8s ease-in;
  position: relative;
}

.hero a {
  margin-top: 20px;
  font-size: 1rem;
  position: relative;
  color: white;
  width: 8.3rem;
  height: 2.5rem;
  background-color: #020124;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: none;
  border-radius: 45px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@-webkit-keyframes textSlide {
  0% {
    bottom: -5rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes textSlide {
  0% {
    bottom: -5rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.about-wrapper {
  padding: 20px 0px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #020124;
}

.about-wrapper .about {
  color: white;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.about-wrapper .about p {
  margin-top: 20px;
  line-height: 23px;
}

.about-wrapper .about img {
  margin-top: 20px;
  max-width: 100%;
}

.sponsors-wrapper {
  text-align: center;
  margin: 100px 0;
}

.sponsors-wrapper .sponsors {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sponsors-wrapper .sponsors img {
  max-width: 40%;
  margin: 20px 0;
}

.flex-3-wrapper {
  background-image: url("/images/photo-1616394584738-fc6e612e71b9.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px 0;
}

.flex-3-wrapper .flex-3 {
  width: 90%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.flex-3-wrapper .flex-3 .flex-item {
  line-height: 23px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.flex-3-wrapper .flex-3 .flex-item:nth-of-type(2) {
  margin: 50px 0;
}

.flex-3-wrapper .flex-3 .flex-item h3 {
  margin-bottom: 10px;
}

.flex-3-wrapper .flex-3 .flex-item hr {
  margin: 10px 0;
}

.flex-3-wrapper .flex-3 .flex-item a {
  background-color: white;
  color: #816ad3;
  border: 1px solid #816ad3;
  padding: 7px 15px;
  position: relative;
}

.flex-3-wrapper .flex-3 .flex-item a:hover {
  color: white;
  background-color: #816ad3;
}

.flex-3-wrapper .flex-3 .flex-item a:focus {
  top: 2px;
}

.flex-3-wrapper .flex-3 .flex-item img {
  max-width: 100%;
}

.testimonials-wrapper {
  text-align: center;
  padding: 20px;
}

.testimonials-wrapper .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-wrapper .testimonials .testimonial {
  margin: 20px;
  background-color: #020124;
  max-width: 400px;
  padding: 30px 10px;
  color: white;
  position: relative;
  border-radius: 5px;
  display: none;
  -webkit-animation: slideShow .3s ease-in;
          animation: slideShow .3s ease-in;
}

@-webkit-keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.testimonials-wrapper .testimonials i {
  font-size: 1.5rem;
  color: #816ad3;
}

.testimonials-wrapper .testimonials i:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .hero {
    font-size: 3rem;
    margin-top: 58px;
    background-size: cover;
  }
  .hero p {
    margin-top: 10px;
  }
  .hero a:hover {
    color: #020124;
    background-color: white;
  }
  .hero a:focus {
    top: 2px;
  }
  .about-wrapper {
    background-image: url("/images/wave.svg");
    background-position: center;
    background-size: cover;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: white;
  }
  .about-wrapper .about {
    text-align: left;
    max-width: 100%;
    margin: 40px;
    position: relative;
  }
  .about-wrapper .about p {
    max-width: 50%;
  }
  .about-wrapper .about img {
    position: absolute;
    right: 0;
  }
  .sponsors-wrapper .sponsors {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sponsors-wrapper .sponsors img {
    max-width: 20%;
    margin: 0px 20px;
  }
  .flex-3-wrapper .flex-3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-3-wrapper .flex-3 .flex-item {
    height: 20rem;
    width: 18rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: uppercase;
    -webkit-transition: border-left .15s ease;
    transition: border-left .15s ease;
  }
  .flex-3-wrapper .flex-3 .flex-item:nth-of-type(1) {
    margin-right: -15px;
    z-index: 1;
  }
  .flex-3-wrapper .flex-3 .flex-item:nth-of-type(2) {
    top: 10px;
    margin-right: -15px;
    z-index: 2;
  }
  .flex-3-wrapper .flex-3 .flex-item:nth-of-type(3) {
    top: 20px;
    margin: 0;
    z-index: 3;
  }
  .flex-3-wrapper .flex-3 .flex-item:hover {
    border-left: 10px solid #020124;
  }
  .flex-3-wrapper .flex-3 .flex-item img {
    opacity: .8;
  }
  .flex-3-wrapper .flex-3 .flex-item:hover img {
    opacity: 1;
  }
  .testimonials-wrapper .testimonials {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials-wrapper .testimonials .testimonial {
    width: 20%;
    margin: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 414px) {
  .about-wrapper .about img {
    display: none;
  }
}
